<!DOCTYPE html>
<html lang="zh-Hant-TW">

  <head>
    <% include ./layout/_head.ejs %>
  </head>

  <body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ex officia quo. Officiis, quisquam ducimus?
      Praesentium eos, quisquam sint veritatis repellendus repellat illo mollitia itaque ipsam quibusdam! Aperiam,
      optio! Recusandae.</p>
    <script src="./javascript/vendors.js"></script>
    <script src="./javascript/all.js"></script>
  </body>

</html>